.button {
    min-width: 140px;
    padding: 10px 25px;
    margin: 5px 0;
    text-align: center;
    box-shadow: none;
    border: none;
    background-color: #3e23e6;
    font-size: 14px;
    border-radius: 30px;
    color: #fff;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}