.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(37, 21, 139, 0.5);
    z-index: 10;
}
.modal_active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal h1, .modal h2, .modal h3 {
    margin-top: 0;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal_content {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}
