* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 14px;
    font-family: Tahoma;
}

.header {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links__item {
    margin-left: 10px;
    color: #333;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #333;
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);

    &._active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1, h2, h3 {
        margin-top: 0;
    }
}

.modal-content {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

.news-item {
    width: calc(50% - 15px);
    margin-bottom: 30px;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.news-item__date {
    font-weight: bold;
    margin-bottom: 5px;
}

.news-item__title {
    margin-top: 0;
    margin-bottom: 10px;
}

.news-item__text {
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 14px;
    font-family: Tahoma;
}

.textarea {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid rgba(0,0,0,.2);
    height: 100px;
    resize:none;
    font-size: 14px;
    font-family: Tahoma;
}

.button {
    min-width: 140px;
    padding: 5px 15px;
    margin: 5px 0;
    text-align: center;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.2);

    &:hover {
        border-color: rgba(0,0,0,0.4);
    }
}

.news-form {
    margin-top: 15px;
    width: 640px;
}

.input-error {
    display: none;
    color: rgb(119, 9, 9);
    margin-bottom: 10px;

    ._error + & {
        display: block;
    }
}

.slider {
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 0.2s;
}

.slider-img-prev {
    transform: translateX(-100%);
}

.slider-img-next {
    transform: translateX(100%);
}